<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <script src="./vue.js"></script>
</head>
<body>
<div id="app">
  <input type="text" v-model="inputText"/>
  <button v-on:click="submitText">递交</button>
  <ul>
    <li v-for="(item,index) in list" v-bind:content="item" v-on:click="remove(index)">{{item}}</li>
  </ul>
  全局组件
  <ul>
    <li-list v-for="(item,index) in list" v-bind:content="item" v-on:click="remove(index)"></li-list>
  </ul>
  局部组件
  <ul>
    <part-li-list v-for="(item,index) in list"
                  v-bind:content="item"
                  v-bind:index="index"
                  v-on:delete="handleDelete(index)">
    </part-li-list>
  </ul>
  <br>
  <span>{{inputText}}</span>
  <br>
  <span>{{newInputText}}</span>
  <br>
  <input ref="newInput" type="text" v-model="newInputText"/>
  <button @click="newInputText = this.$refs.newInput.value">递交</button>
</div>
<script>
Vue.component("LiList", {
  props: ['content'],
  template: "<li>{{this.content}}</li>"
});

var PartLiList = {

};

var app = new Vue({
  el: '#app',
  data: {
    inputText: 'nihao',
    list: ['第一颗', '第二颗']
  },
  components: {
    PartLiList
  },
  methods: {
    submitText: function () {
      this.list.push(this.inputText);
    },
    remove: function (index) {
      this.list.splice(index, 1);
    },
    handleDelete: function (index) {
      this.list.splice(index, 1);
    }
  },
  computed: {
    newInputText: {
      get: function () {
        return this.$data.inputText + ' new'
      },
      set: function (value) {
        this.$data.inputText = value.substr(0, value.length - 4);
      }
    }
  }
});
</script>
</body>
</html>